{{ define "main" }}
<div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
        <div class="nested-copy-line-height lh-copy f4 nested-links mid-gray">
            {{.Content}}
        </div>
        <div class="nested-copy-line-height lh-copy f4 nested-links mid-gray">
            {{ range ( where .Site.RegularPages "Type" "app" ) }}
            <div class="app-list">
                <img src="images/{{ .Params.icon }}" width="200" height="200"/>
                <div>
                    <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                    <p>{{ .Params.summary }}</p>
                </div>
            </div>
            {{ end }}
        </div>

    </article>
</div>
{{ end }}
